* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
  background: #141c2f;
}

:root {
  --color-background-one: #141c2f;
  --color-background-two: #1f2a48;
  --color-button: #2a78cb;
  --white-text: #faffff;
}
.container {
  width: 100vw;
  height: 100vh;
  background: var(--color-background-one);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.topo {
  padding: 50px;
  /* display: flex;
  justify-content: center; */
}
